<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>

<div class="container">

  <div class="row">

    <div class="col-md-8">

    <div>
      <p>A promotion was applied</p>
      <p>We applied a promotion</p>
    </div>

    </div>

  </div>


</div>
