.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('host-banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner-edit {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  text-align: left;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.host-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('host-banner.jpg');
}

.text-host-banner {
  h1, p {
  text-align: center;
  color: white;

  }
}

.host-link {
  text-decoration: none !important;
}

.banner-become-host {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('host.jpg');
  padding-top: 100px;
}
