.booker {
  top: 0px;
  text-align: left;
  align-self: flex-start;
  position: sticky;
  padding: 50px;
  background: white;
  font-size: 20px;
  font-weight: normal;
  width: 30vw;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-left: 10px;


}


.main-container {
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;

}

.info {
  text-align: left;
  background: white;
  align: center;
  padding: 50px;
  position: relative;
  width: 40vw;
  // font-size: 24px;
  font-weight: normal;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

p {
  color: black;
  text-align: justify;

}
