.search-form {
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;

  h1 {
    color: $gray;
    font-size: 24px;
    text-align: left;
  }
}

.fg {
  padding-top: 5px;
  padding-bottom: 5px;

  label {
    position: relative;
    left: 15px;
  }
}


.search-button {
  justify-content: right;
  flex-direction: row-reverse;
}

.dates {
  justify-content: space-between;
}

.form-group {
  border-radius: 1px;
  border-color: $light-gray;
}


h2 {
  color: $gray;
  font-size: 24px;
}

.host-search-form {
  height: 400px;
  margin-bottom: 50px;
  margin-top: 50px;
}
