
  <h1><%= @review.title %></h1>
  <%= link_to "Back to all reviews", reviews_path %>

  <div class="booker"><p>Add your review here</p>
  <p>Title</p>
  <p>Description</p>
  <p>Rating</p>
  <button type="button" class="btn btn-danger">Submit Review</button>
  </div>


